<section id="about" class="three">
  <div class="container">
    <header>
      <h2>About</h2>
    </header>

    <p>
      Carfree was created to give car-free people a way to track exactly how many
      miles they can travel without using a car. And as a bonus: emissions, too!

      Now you can brag to your friends about how "green" you are in your annual
      Christmas cards.
    </p>

    <p>
      Walking, biking, and bus emissions data from the
      <a href="http://www.ecf.com/wp-content/uploads/ECF_CO2_WEB.pdf">European
        Cyclists' Federation</a>,
      and converted from g/km to pounds/mile.

      BART emissions data from <a href="http://www.bart.gov/">BART.gov</a>.
    </p>

    <p>
      Carfree uses the <a href="https://www.google.com/maps">Google Maps</a>,
      <a href="http://www.bart.gov/">BART.gov</a>, and
      <a href="http://www.511.org/">511.org</a> APIs.
    </p>

    <p>
      Carfree currently only supports AC Transit bus routes, but MUNI and others
      are in the works.
    </p>
  </div>
</section>
