<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <span class="text-center">{{#link-to 'index'}}Home{{/link-to}}</span>
      <span class="text-center">{{#link-to 'about'}}About{{/link-to}}</span>
      <span class="text-center">{{#link-to 'trip.new'}}New Trip{{/link-to}}</span>

      {{#if session.isAuthenticated}}
      <span class="text-center">{{#link-to 'leg'}}Your History{{/link-to}}</span>

      <span class="text-center"><a {{action 'invalidateSession'}}>Log Out</a></span>
      {{else}}
      <span class="text-center">{{#link-to 'signup'}}Sign up{{/link-to}}</span>
      <span class="text-center">{{#link-to 'login'}}Log In{{/link-to}}</span>
      {{/if}}
    </div>
  </div>
</nav>

  {{outlet}}
