<div id="header">

  <div class="top">
    <div id="logo">
      <h1 id="title">Carfree</h1>
      <p>
        Commute without the <strong>Car</strong>bon
      </p>
    </div>

    <nav id="nav">
      <ul>
        <li>
          {{#link-to 'leg' title="Your History"}}
            <span class="icon fa-history">Your History</span>
          {{/link-to}}
        </li>

        <li>
          {{#link-to 'walk' id="walk"}}
            <span class="icon fa-child">WALK</span>
          {{/link-to}}
        </li>

        <li>
          {{#link-to 'bike' id="bike"}}
            <span class="icon fa-bicycle">BIKE</span>
          {{/link-to}}
        </li>

        <li>
          {{#link-to 'bus' id="bus"}}
            <span class="icon fa-bus">BUS</span>
          {{/link-to}}
        </li>

        <li>
          {{#link-to 'bart' id="bart"}}
            <span class="icon fa-subway">BART</span>
          {{/link-to}}
        </li>
      </ul>
    </nav>
  </div>

  <div class="bottom">
    <ul class="icons">
      <li>{{#link-to 'index' class="fa fa-home fa-lg" title="Home"}}{{/link-to}}</li>
      <li>{{#link-to 'about' class="fa fa-info fa-lg" title="About"}}{{/link-to}}</li>
      {{#if session.isAuthenticated}}
        <li><a class="fa fa-sign-out fa-lg" {{action 'invalidateSession'}}></a></li>
      {{else}}
        <li>{{#link-to 'signup' class="fa fa-plus fa-lg" title="Sign up"}}{{/link-to}}</li>
        <li>{{#link-to 'login' class="fa fa-sign-in fa-lg" title="Sign in"}}{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</div>

<div id="main">
  {{outlet}}
</div>
