<form class="">
  <div class="form-group">
    <span class="label label-default">Starting BART Station</span>

    <div name="start">
      {{view 'select'
        content=stations
        value=selectedStartStation
        optionValuePath="content.id"
        optionLabelPath="content.stationName"
        selectionBinding="content.selectedObject"}}
    </div>
  </div>

  <div class="form-group">
    <span class="label label-default">Ending BART Station</span>

    <div name="end">
      {{view 'select'
        content=stations
        value=selectedEndStation
        optionValuePath="content.id"
        optionLabelPath="content.stationName"
        selectionBinding="content.selectedObject"}}
    </div>
  </div>

  <button class="btn btn-primary" {{action 'calculateBartMiles' selectedStartStation selectedEndStation}}>Calculate</button>

</form>

{{result}}
