<h3>Biking</h3>

<form class="">
  <div class="form-group">
    <span class="label label-default">Starting address</span>

    <div class="form-control" placeholder="starting address">
      {{input id='startAddress' value=startBike}}
    </div>
  </div>

  <div class="form-group">
    <span class="label label-default">Ending address</span>

    <div type="text" class="form-control" placeholder="ending address">
      {{input id='endAddress' value=endBike}}
    </div>
  </div>

  <button class="btn btn-primary" id='calculate' {{action 'calculateBikeMiles' startBike endBike}}>Calculate</button>
</form>

{{#if distance}}
<div class="bike-miles">
  Distance biked: {{distance}}
</div>
{{/if}}
