<section id="top" class="one dark cover">
  <div class="container">
    <header>
      <h2 class="alt"><strong>Welcome to your Carfree Commute</strong></h2>
      <p>
        If you want to save and see your miles and emissions over time, you need
        to sign up. You can always calculate your trip's miles and
        emissions saved without an account.
      </p>

      <p>
        You can get started by selecting your mode of transportation on the left.
      </p>
    </header>
    <header><br><br><br><br><br>
      .
    </header>
  </div>
</section>
