<section class="four">
  <div class="container">
    <header>
      <h2>Log in</h2>
    </header>

    <p>
      Welcome back!
    </p>

    <form {{action 'authenticate' on='submit'}}>
      <div class="row 50%">
        <div class="6u">
          {{input value=identification placeholder='email' type="text"}}
        </div>
        <div class="6u">
          {{input value=password placeholder='password' type='password' class="form-control"}}
        </div>
      </div>

      <div class="row">
        <div class="12u">
          <input type="submit" value="Log in" />
        </div>
      </div>
    </form>

  </div>
</section>
