<div class="form-group">
  {{input placeholder="Email" type="text" value=email}}
  {{input placeholder="Password" type="text" value=password}}

  <button class="button button-primary button-lg button-block"{{action 'signUp'}}>Sign Up</button>
</div>
