<section class="four">
  <div class="container">
    <header>
      <h2>Sign Up</h2>
    </header>

    <form {{action 'signUp' on='submit'}}>
      <div class="row 50%">
        <div class="6u">
          {{input value=email placeholder='email' type="text"}}
        </div>
        <div class="6u">
          {{input value=password placeholder='password' type='password' class="form-control"}}
        </div>
      </div>

      <div class="row">
        <div class="12u">
          <input type="submit" value="Sign Up" />
        </div>
      </div>
    </form>

  </div>
</section>
