<h3>Did you...</h3>

<!-- <a href="#" id="bart" {{action 'showBART'}}>BART?</a> -->
{{#link-to 'bart' id="bart"}}BART?{{/link-to}}
{{#link-to 'walk' id="walk"}}WALK?{{/link-to}}
{{#link-to 'bike' id="bike"}}BIKE?{{/link-to}}
{{#link-to 'bus' id="bus"}}BUS?{{/link-to}}
{{#link-to 'leg' id="leg"}}Your History{{/link-to}}

{{outlet}}
