<h3>Did you...</h3>

<!-- <a href="#" id="bart" {{action 'showBART'}}>BART?</a> -->

<div class="row">
  <div class="col-md-3">
    {{#link-to 'walk' id="walk"}}WALK?{{/link-to}}
  </div>

  <div class="col-md-3">
    {{#link-to 'bike' id="bike"}}BIKE?{{/link-to}}
  </div>

  <div class="col-md-3">
    {{#link-to 'bus' id="bus"}}BUS?{{/link-to}}
  </div>

  <div class="col-md-3">
    {{#link-to 'bart' id="bart"}}BART?{{/link-to}}
  </div>
</div>

{{outlet}}
