<h3>Walking</h3>

<form class="">
  <div class="form-group">
    <span class="label label-default">Starting address</span>

    <div class="form-control" placeholder="starting address">
      {{input id='startAddress' value=startWalk }}
    </div>
  </div>

  <div class="form-group">
    <span class="label label-default">Ending address</span>

    <div type="text" class="form-control" placeholder="ending address">
      {{input id='endAddress' value=endWalk}}
    </div>
  </div>

  <button class="btn btn-primary" id='calculate' {{action 'calculateWalkMiles' startWalk endWalk}}>Calculate</button>
</form>

{{#if distance}}
<div class="walk-miles">
  Distance walked: {{distance}}
</div>
{{/if}}
